@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text-900: #111827;
	--background-200: #919191;
	--background-100: #e1e1e1;

	--purple-100: #a47fff;
	--purple-200: #8b52fe;
	--purple-300: #452d66;

	--pink-100: #f6ebfb;
	--pink-200: #dbc9f3;
	--pink-300: #dbc9f3;
	--pink-400: #ad9ad7;

	--green-100: #81c784;
	--green-200: #4caf50;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-900: rgb(17, 24, 39);
		--background-200: rgb(145, 145, 145);
		--background-100: rgb(225, 225, 225);

		--purple-100: #a47fff;
		--purple-200: #8b52fe;
		--purple-300: #452d66;

		--pink-100: #f6ebfb;
		--pink-200: #dbc9f3;
		--pink-300: #dbc9f3;
		--pink-400: #ad9ad7;

		--green-100: #81c784;
		--green-200: #4caf50;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
	height: 5px !important;
	width: 5px !important;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: none !important;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-color: hsla(262, 52%, 47%, 0.4);
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsla(262, 52%, 47%, 0.8);
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button,
textarea,
input,
select,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold;
}

h1 {
	@apply text-[7vw] sm:text-4xl;
}

h2 {
	@apply text-[5.6vw] sm:text-3xl;
}

h3 {
	@apply text-[4.9vw] sm:text-2xl;
}

h4 {
	@apply text-[3.5vw] sm:text-xl;
}

h5 {
	@apply text-[2.8vw] sm:text-lg;
}

h6 {
	@apply text-[2.1vw] sm:text-base;
}
